.number-child {
    background: rgba(0,0,0,.7);
    font-weight: bolder;
    color: white;
    border-radius: 20px;
    margin: 3px;
    height: 45px;
    width: 65px;
    justify-content: center;
    align-items: center;
}